@model IEnumerable<Fiap.Api.MonitoramentoAmbiental.Model.ControleIrrigacaoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrevisaoChuva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrevisaoChuva.Previsao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ControleId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ControleId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ControleId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
